<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/WEB-INF/config.properties</value>
		</property>
	</bean>

	<!-- Elastic Search Connection Setting -->
	<bean id="ES_DAO" class="org.iii.dao.es.ElasticsearchDAO">
		<constructor-arg name="HOST_IP" value="${es_ip}" />
		<constructor-arg name="HOST_PORT" value="${es_port_9300}" />
		<constructor-arg name="CLUSTER_NAME" value="${es_clustername}" />
	</bean>

</beans>



